@tailwind base;
@tailwind components;
@tailwind utilities;

.back-to-top {
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.3s, visibility 0.3s;
}

.back-to-top.visible {
  opacity: 1;
  visibility: visible;
}

@layer base {
  h1, h2, h3, h4, h5, h6 {
    font-family: theme('fontFamily.heading');
  }
}